body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Layout - Sidebar*/

.custom-navbar {
  background-color: #F1FAFB;
}

a[class=active] div{
  color: white;
  background-color: #a684f2;
}

a {
  text-decoration:none;
  color: gray;
}

.nav-item img {
  fill: white;
}

.text-with-horizontal-line {
  position: relative;
  text-align: center;
}

.text-with-horizontal-line::before,
.text-with-horizontal-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 110%;
  height: 1px;
  background-color: gray;
}

.text-with-horizontal-line::before {
  right: 100%;
  transform: translateX(50%);
  margin-right: 7vh;
}

.text-with-horizontal-line::after {
  left: 100%;
  transform: translateX(-50%); 
  margin-left: 7vh;
}

.icon-navbar {
  margin-right: 1.5em
}

.navbar-div-item {
  width: 17em;
  padding: 1em 1em 1em 1em;
  border-radius: 10px;
}

/* Login */

.login-button {
  width: 100%;
  background-color: #A684F2;
  border-radius: 20px;
  border: none;
}

.right-login {
  background: linear-gradient(to bottom, #20e6db 0%, #aa81f3 100%)
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-icon {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: block;
  min-width: 120px;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

/* Program List */

.mirror-icon {
  display: inline-block;
  transform: scaleX(-1);
}

/* Button Component */

.custom-button {
  width: 23%;
  background-color: #A684F2;
  border-radius: 20px;
  border: none;
  height: 40px;
  display: inline-block;
}